
.footer {
    text-align: center;

}

.footer__txt {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 10px;
    color: #0B0726;
    text-align: center;  
}

.navbar {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 10px;
    color: #0B0726;
    justify-content: center;
}