
.header__background {
    background-image: url('https://www.zupimages.net/up/20/35/ngay.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
}


.header__picture {
    height: auto;
    display : flex;
    justify-content: center;
}

.header__picture--img {
    height: 160px;
    width: 160px;
    border-radius: 100px;
    bottom: 60px;
    position: absolute;
    top : 230px;

}