@media screen and (min-width: 610px) {
    p, li, a {
        font-size: 14px;
        color: #0B0726;
        line-height: 24px;
    }

    h1 {
        font-size: 40px;
        font-weight: normal;
        color: #0B0726;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px
    }

    .header__picture--img {
        height: 250px;
        width: 250px;
        border-radius: 250px;
        top: 140px;
 
    }

    .experience {
        height: 800px;
    }

    .background__color3, .background__color4, .article__background--color2, .article__background--color1 {
        height: 450px;
    }


    form {
        font-size: 16px;
        margin-top: 20px;
 
    }
    
    .form__mail {
        width: 240px;
        height: 40px;
        margin-bottom: 8px;
      
        
    }
    
    textarea {
        width: 240px;
        height: 130px;
        margin-bottom: 8px;
      
    }
    
    .form__button {
        width: 80px;
        height: 30px;

    }
    /* fin des paramères du formulaire de contact */

    .cv {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%), #609A7D;
        border-radius: 50px;
        height: 100px;
        width: 100px;
        margin-top : 80px;
    
    }
    
    .cv__txt {
        font-size: 20px;
        padding-top: 30px;
        line-height: 24px;

    
    }

    .linkedin {
        height: 80px;
        width: 80px;
        margin-top: 100px;
       
    }


}

@media screen and (min-width: 700px) {
    .header__background {
        height: 400px;
    }

    h1 {
        font-size: 40px;
        top: 250px;

    }

    .header__picture--img {
        top: 250px;
 
    }
}

@media screen and (min-width: 900px) {

    .header__background {
        height: 500px;
    }

    .header__picture--img {
        height: 350px;
        width: 350px;
        border-radius: 350px;
        top: 280px;
 
    }

    h1 {
        font-size: 48px;
        top: 350px;

    }

    .menu {
        height: 600px;
    }

    .menu__circles--button1, .menu__circles--button2, .menu__circles--button3, .menu__circles--button4, .menu__circles--button5 {
        height: 130px;
        width: 130px;
        border-radius: 130px;
    }

    .menu__circles--button1:hover, .menu__circles--button2:hover, .menu__circles--button3:hover, .menu__circles--button4:hover, .menu__circles--button5:hover {
        width: 150px;
        height: 150px;
        border-radius: 150px;
    
    
    }


    .menu__circles--button1 {
        top: 30px;
    
    }


    .menu__circles--button2 {
        top: 230px;

    }

    .menu__circles--button3 {
        top: 30px;
    
    }

    .menu__circles--button4 {
        top: 230px;
    
    }

    .menu__circles--button5 {
        margin-top: 350px;
    }

    .menu__circles--text {
        font-size: 18px;
    }

    .skills__txt, .project__txt {
        columns: 1;
    
    }

    p {
        padding-left: 15px;
        padding-right: 15px;
    }

    .home {
        width: 40px;
        height: 40px;
    }
}

